
header
  .navbar.navbar-default
    .container
      .navbar-header
        a.navbar-brand(href=site.url) Site Title
        button.navbar-toogle(type="button" data-toggle="collapse" data-target="#navbar-main")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.collapse#navbar-main
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
        .nav.navbar-form.navbar-right
          .form-group
            - let encodeSiteText = encodeURIComponent(`${site.title} - ${site.description}`)
            a.btn.btn-twitter(href=`https://twitter.com/intent/tweet?url=${site.url}&text=${encodeSiteText}`)
              i.fa.fa-twitter.fa-lg
              |
              | Tweet
            |
            |
            a.btn.btn-facebook(href=`http://www.facebook.com/sharer.php?u=${site.url}`)
              i.fa.fa-facebook.fa-lg
              |
              | Share
            |
            |
            a.btn.btn-hatebu(href="javascript:window.open('http://b.hatena.ne.jp/add?mode=confirm&is_bm=1&title='+escape(document.title)+'&url='+escape(location.href),%20'_blank',%20'width=520,height=600,resizable=1,scrollbars=1');undefined;")
              i.fa.fa-hatebu.fa-lg
              |
              | Bookmark
